---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { blok } = Astro.props;

const renderedRichText = renderRichText(blok.content);
---

<section {...storyblokEditable(blok)}>
  <div class="container">
    <h1 set:html={markdownify(blok.title)} class="h2 text-center my-6" />
    <div class="content grid grid-cols-1 md:grid-cols-[auto_1fr] gap-6 justify-items-center md:justify-items-start items-center">
      {blok.image?.filename && (
        <div class="flex justify-center my-6 max-w-max md:mr-12 mr-0">
          <div class="aspect-w-1 aspect-h-1 w-full max-w-[300px]">
            <Image
              client:load
              src={blok.image.filename}
              alt={blok.image.alt}
              class="object-cover"
              width="300"
              height="300"
              inferSize={true}
            />
          </div>
        </div>
      )}
      <div class="text-left" set:html={renderedRichText}></div>
    </div>
    <div class="flex justify-center mt-6">
      <a
        class="btn btn-primary"
        href={blok.button?.cached_url}
        target={blok.button?.target || "_self"}
      >
        {blok.button.title}
      </a>
    </div>
  </div>
</section>
