---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section class="section px-4" {...storyblokEditable(blok)}>
  <div class="section container rounded-xl shadow">
    <div class="row mx-auto items-center justify-center">
      <div class="md:col-5 lg:col-4">
        {
          blok?.image && blok?.image.filename !== "" && (
            <Image
              class="w-auto max-h-[300px] mx-auto"
              src={blok?.image.filename}
              alt="call to action image"
              width={325}
              height={206}
            />
          )
        }
      </div>
      <div class="mt-5 text-center md:mt-0 md:text-left md:col-6 lg:col-5">
        <h2>{blok?.title}</h2>
        <p class="mt-6" set:html={markdownify(blok?.content)} />
        {
          blok?.button && (
            <a
              class="btn btn-primary mt-4"
              href={blok.button.cached_url}
              target={blok?.button.target || "_self"}
            >
              {blok.button.title}
            </a>
          )
        }
      </div>
    </div>
  </div>
</section>
